#content {
  justify-content: center;

  > .fake-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 100;
    border-radius: 50%;
    padding: 0.7rem;
    background-color: #f2c480;
    color: #333;

    &:hover {
      background-color: #333;
      color: #f2c480;
    }
  }
  #use-manual {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #3333333a;
    padding: 1rem;

    mat-card {
      width: 50%;

      strong {
        color: #f2c480;
      }
    }

    &.show {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#book {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 95%;
  #left,
  #right {
    background-color: #1d3b22;
    width: 100%;
    height: 100%;
  }
  #center {
    background-color: #17301c;
    width: 10%;
    height: 100%;
  }

  #pages {
    display: flex;
    position: absolute;
    width: 97%;
    height: 95%;

    #pages-blur {
      position: absolute;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(2px);
      z-index: 2;
    }

    #page1,
    #page2 {
      z-index: 1;
      width: 50%;
      height: 100%;
      background-image: url(/assets/img/backgrounds/paper_h_bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    #page2 {
      transform: rotateX(180deg);
    }

    #page-text-container {
      display: flex;
      position: absolute;
      z-index: 20;
      width: 100%;
      height: 100%;
      .page-text-container {
        height: 100%;
        width: 50%;
        color: black;
        padding: 1rem;
      }
    }

    #markers {
      position: absolute;
      z-index: 100;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      #character {
        background-color: purple;
        top: 0;
      }
      #character::after {
        border-left-color: purple;
      }
      #adventure {
        background-color: darkblue;
        top: 4rem;
      }
      #adventure::after {
        border-left-color: darkblue;
      }
      #actions {
        background-color: green;
        top: 8rem;
      }
      #actions::after {
        border-left-color: green;
      }

      .marker {
        position: absolute;
        width: 6rem;
        padding: 1rem 0.5rem;
        color: white;
        cursor: pointer;
      }

      .marker:hover {
        width: 7rem;
      }

      .marker::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 30px solid;
      }

      .selectedMarker {
        width: 7rem !important;
      }
    }
  }
}

#buttons {
  z-index: 30;
  .fake-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6rem;

    &.hide {
        pointer-events: none;
        opacity: 0;
      }

    mat-icon {
      cursor: pointer;
    }
  }

  #prev {
    left: 10%;
  }
  #next {
    right: 10%;
  }

  #marker-toggle {
    display: none;
  }
}

app-character-main,
app-character-species,
app-character-virtues,
app-character-stats,
app-character-disadvantages,
app-character-equipment,
app-character-items,
app-mandatory-items,
app-special-items,
app-cigar-items,
app-adventure-main,
app-adventure-event,
app-adventure-npc,
app-actions-main,
app-actions-camp,
app-actions-camp2,
app-actions-fight,
app-actions-loot,
app-actions-loot2,
app-actions-loot3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}
.visibleMarker {
  display: flex !important;
}

@media (max-width: 900px) {
  #content {
    justify-content: space-between;

    > .fake-button {
      background-color: #333;
      color: #f2c480;

      &:hover {
        background-color: #f2c480;
        color: #333;
      }
    }
    #book {
      width: 98%;
      #pages {
        height: 98%;
        #page1 {
          width: 100%;
        }
        #page2 {
          display: none;
        }
        #page-text-container {
          flex-direction: column;
          overflow-y: auto;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            width: 0;
          }
          .page-text-container {
            width: 100%;
            height: 100%;
            overflow-y: unset;
            padding: 0.5rem;
          }
        }
        #markers {
          display: none;
          left: 0;
        }
      }
    }
    #buttons {
      display: flex;
      width: 100%;
      background-color: #333;
      z-index: 30;
      .fake-button {
        position: relative;
        height: auto;
        width: 4rem;
        height: 2rem;
        z-index: 32;
        border-radius: 0;
        background-color: #333;

        &:hover {
          background-color: #f2c480;
          color: #333;
        }

        mat-icon {
          cursor: pointer;
        }
      }

      #marker-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f2c480;
        margin: auto;
      }

      #prev {
        left: 0;
      }
      #next {
        right: 0;
      }
    }

    #use-manual {
      mat-card {
        min-width: 80%;
      }
    }
  }
}

@media (max-width: 600px) {
  #content {
    #use-manual {
      mat-card {
        min-width: 95%;
      }
    }
  }
}

@media (max-width: 425px) {
  #content {
    > .fake-button {
      font-size: smaller;
      padding: 0.5rem;
    }
    #use-manual {
      mat-card {
        min-width: 100%;
      }
    }
  }
}
