#content {
  justify-content: center;
}

#book {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 95%;
  #left,
  #right {
    background-color: #1d3b22;
    width: 100%;
    height: 100%;
  }
  #center {
    background-color: #17301c;
    width: 10%;
    height: 100%;
  }

  #pages {
    display: flex;
    position: absolute;
    width: 97%;
    height: 95%;

    #pages-blur {
      position: absolute;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(2px);
      z-index: 2;
    }

    #page1,
    #page2 {
      z-index: 1;
      width: 50%;
      height: 100%;
      background-image: url(/assets/img/backgrounds/paper_h_bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    #page2 {
      transform: rotateX(180deg);
    }

    #page-text-container {
      display: flex;
      position: absolute;
      z-index: 20;
      width: 100%;
      height: 100%;
      .page-text-container {
        height: 100%;
        width: 50%;
        color: black;
        padding: 1rem;
      }
    }

    #markers {
      position: absolute;
      z-index: 10;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    #character {
      background-color: purple;
      top: 0;
    }
    #character::after {
      border-left-color: purple;
    }
    #adventure {
      background-color: darkblue;
      top: 4rem;
    }
    #adventure::after {
      border-left-color: darkblue;
    }
    #actions {
      background-color: green;
      top: 8rem;
    }
    #actions::after {
      border-left-color: green;
    }

    .marker {
      position: absolute;
      width: 6rem;
      padding: 1rem 0.5rem;
      color: white;
      cursor: pointer;
    }

    .marker:hover {
      width: 7rem;
    }

    .marker::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 30px solid;
    }

    .selectedMarker {
      width: 7rem !important;
    }
  }
}

#buttons {
  z-index: 30;
  .fake-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6rem;
  }

  #prev {
    left: -10%;
  }
  #next {
    right: -10%;
  }
}

app-character-main,
app-character-virtues,
app-character-disadvantages,
app-character-equipment,
app-character-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
