<span class="title">Akciók</span>
<p>
  Akciókat a játék során több féle képpen is lesz lehetőség végrehajtani, ilyen
  például a harc közbe és a közvetlen utána sorra kerülő
  <strong title="zsákmányszerzés">szüretelés</strong> során, a táborozás közben.
</p>
<p>
  Ezek az akciók valamilyen cselekvést foglalnak magukba, melyek különböző
  kimeneteket eredményeznek. Ezeknek az akcióknak a sikerességét dobókockák
  dobásával tartják számon.
</p>
<p class="italic-text">
  A javasasszonyok végtagokat visszanövesztő főzeteik, a mesteremberek valóságot
  kibontó szerkezeteik, Egy mágus rejtett palotája téren és időn kívül, egy
  tolvaj szarvasagancs formájú kulcsa, ami minden ajtót kinyit. Ez csak néhány
  példa a mágikus tárgyakra amiket ez a világ felkínál, a megfelelő
  alapanyagokért cserébe.
  <br />
  Amikor egy lény meghal, a lélek felszabadul a test pedig hátramarad. A halált
  követően a megmaradt mágia fokozatosan elhagyja a tetemet, emiatt gyorsan be
  kell szüretelni az alapanyagokat mielőtt elvesztik az erejüket. Egy harc
  rögtön el kell kezdeni a szüretelést és végig kell csinálni, különben az
  összes alapanyag kárba vész.
</p>
<div style="width: 100%">
  <img src="/assets/img/misc/dice_rolling.png" alt="Kocka dobás" />
</div>
