<span class="title">Karakteralkotás</span>
<p>
  A karakterkészítés a szerepjáték egyik legfontosabb része, amely során
  megalkothatod a saját egyedi hősödet. A játék során az ő bőrébe bújva fogsz
  kalandokban részt venni másik játékosokkal együtt. (Vagy nem, ha merész vagy)
</p>

<p>
  A karakteredet meghatározza a faja, azaz a származása, a tulajdonságai (erő,
  ész, stb.), mentális kapacitása és életereje, a fajhoz szorosan kapcsolódó
  háttere, meg persze nem utolsó sorban a neve.
</p>
<p>
  Minden karakter rendelkezik felszereléssel, melyeket fegyverek, páncélok és
  különböző tárgyak tesznek ki.
</p>
<img src="/assets/img/misc/sheet.jpg" alt="Karakterlap" />
