.character-container {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  width: 100%;
  padding: 0.5rem;
  background-color: #222;
  border-radius: 0.5rem;
  gap: 0.5rem;
  font-size: large;

  .inner-char-container {
    border-radius: 0.5rem;
    background-color: #333;
    padding: 0.5rem;

    > span:nth-child(even) {
      text-align: right;
    }
  }

  .personal {
    flex: 2;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    .character-buttons {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .fake-button {
        width: 100%;
        padding: 0.5rem;
        background-color: #222;
        &:hover {
          background-color: #f2c480;
        }
      }
    }

    .bonus-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: span 2;
      gap: 0.5rem;

      > span {
        color: #f2c480;
      }

      .bonus {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .stats {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > span {
      color: #f2c480;
      text-align: center;
    }

    .main-stats {
      display: flex;
      justify-content: space-around;
    }

    .regular-stats {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }

    .stat {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;

      .stat-name {
        color: #f2c480;
      }
    }
  }

  .spec-container {
    max-height: 90%;
    width: 80%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .text-container {
      padding: 1rem;
      text-align: justify;
      overflow-y: auto;
      background-color: #222;
      color: #f2c480;
      border-radius: 0.5rem;
      user-select: none;
    }

    > .fake-button {
      position: absolute;
      top: -1.5rem;
      right: -1.5rem;
      padding: 0.5rem;
    }

    &.show {
      display: block;
    }
  }
}

.warning {
  display: none;

  &.show {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    app-delete-warning {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.delete {
  position: absolute;
  padding: 0.25rem;
  top: -0.75rem;
  right: -0.75rem;
}

@media (max-width: 450px) {
  .character-container {
    grid-template-columns: auto;
    width: 100%;
  }
}
