$primary: #f2c480;
$secondary: whitesmoke;

#content {
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  #sub-forum-panel,
  #user-panel {
    width: 22rem;
    height: 100%;
    background-color: #333;
    border-radius: 0.5rem;
    overflow-y: auto;
  }

  #sub-forum-panel.open {
    display: flex;
  }

  #sub-forum-panel {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .sub-forum-title {
      font-size: 2rem;
      text-align: center;
      color: $primary;
    }
    hr {
      border: none;
      height: 2px;
      width: 100%;
      background-color: $primary;
    }
    .subforum {
      width: 100%;
      padding: 1rem 0.5rem;
      font-size: larger;
      color: $secondary;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background-color: $primary;
        color: #222;
      }

      &.active {
        color: #f2c480;
        background-color: #555;
      }
    }
  }

  #addPostUI {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
      display: flex;
    }

    form {
      position: relative;
      width: 50%;
      padding: 1rem;
      border: 0.2rem solid #444;
      border-radius: 0.5rem;
      background-color: #333;
      display: grid;
      grid-template-areas:
        "forum text"
        "title text"
        "attachSelect text"
        "attachedItems text"
        "error text"
        "button text";
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr 1fr 1fr 4fr 1fr 1fr;
      gap: 1rem;

      textarea {
        resize: none;
        line-height: 1.2rem;
        height: calc(1.2rem * 25);
      }

      button {
        font-size: large;
      }

      .attached-items {
        padding: 0.5rem;
        min-height: 5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow-y: auto;
        .attached-item {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: #444;
        }

        .fake-button {
          padding: 0.5rem;
        }
      }

      #closePostUI {
        position: absolute;
        top: -1.25rem;
        right: -1.25rem;
        padding: 0.5rem;
      }
    }
  }

  #toggle-btns {
    display: none;
  }

  #main-content {
    width: 50%;
    height: 100%;

    .main-header {
      width: 100%;
      display: grid;
      .title {
        text-shadow: none;
        color: #f2c480;
        font-size: xx-large;
      }
      hr {
        border: none;
        width: 100%;
        height: 0.2rem;
        margin: 0.5rem 0;
        background-color: #f2c480;
      }
    }

    .posts-container {
      height: calc(100% - 56px);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      overflow-y: auto;
    }
  }

  #user-panel.open {
    display: flex;
  }

  #user-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    #profile-data {
      margin-bottom: 0.5rem;
      text-align: center;
      #img-container {
        width: 100%;
        margin-bottom: 0.5rem;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      #username {
        font-size: 2rem;
      }
    }
    .fake-button {
      padding: 0.5rem;
      background-color: #222;
      gap: 0;
    }
    .fake-button:hover {
      background-color: #f2c480;
      color: #222;
    }
    #myPosts {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      height: 100%;
      padding: 1rem;
      overflow-y: auto;

      .my-post-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background-color: #444;
        border-radius: 0.5rem;

        .my-post-header {
          display: flex;
          justify-content: space-between;
          color: #f2c480;
        }

        .my-post-body {
          width: 100%;

          .my-post-text {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .fake-button {
          position: absolute;
          top: -1rem;
          right: -1rem;
          padding: .3rem;
        }
      }
    }
    #toggle-btns {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  #content {
    flex-direction: column;
    #sub-forum-panel {
      left: 1rem;
    }

    #main-content {
      width: 100%;
    }
    #user-panel,
    #sub-forum-panel {
      position: absolute;
      top: 1rem;
      z-index: 10;
      height: calc(100% - 2rem);
      display: none;
    }

    #user-panel {
      right: 1rem;
    }
    #toggle-btns {
      width: calc(100% - 2rem);
      display: flex;
      justify-content: space-around;

      .toggle-button {
        display: flex;
        width: fit-content;
        height: fit-content;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem;
        background-color: #333;
        color: $primary;
        border-radius: 0.5rem;
      }

      #close-ui.open {
        display: block;
      }

      #close-ui {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        display: none;
      }
    }

    #addPostUI {
      form {
        height: 90%;
        width: 90%;
        overflow-y: auto;
        display: grid;
        grid-template-areas:
          "forum"
          "title"
          "text"
          "attachSelect"
          "attachedItems"
          "error"
          "button";
        grid-template-columns: 1fr;

        textarea {
          height: calc(1.2rem * 15);
        }

        button {
          width: fit-content;
          margin: auto;
        }
      }
    }
  }
}
