<div id="content">
  <div id="sub-forum-panel" [ngClass]="{ open: showForums }">
    <span class="sub-forum-title">Fórumok</span>
    <hr />
    <div class="subforum" (click)="changeForum('char')">Karakterek</div>
    <div class="subforum" (click)="changeForum('adv')">Kalandok</div>
  </div>
  <div id="toggle-btns">
    <div id="sub-toggle" class="toggle-button" (click)="showUI('forum')">
      Fórumok<mat-icon>hub</mat-icon>
    </div>
    <div id="user-toggle" class="toggle-button" (click)="showUI('user')">
      Saját
      <mat-icon>person</mat-icon>
    </div>
    <div
      id="close-ui"
      [ngClass]="{ open: showCloseUI }"
      (click)="closeUI()"
    ></div>
  </div>
  <div id="main-content">
    @if(showCharForum){ @for (post of characterPosts; track $index) {
    <app-post-template [post]="post"></app-post-template>
    } } @else { @for (post of adventurePosts; track $index) {
    <app-post-template [post]="post"></app-post-template>
    }}
  </div>
  <div id="user-panel" [ngClass]="{ open: showUser }">
    @if(isLoggedIn){
    <div id="profile-data">
      <div id="img-container">
        <img src="assets/img/misc/blank.png" alt="{{ user?.username }}" />
      </div>
      <span id="username">{{ user?.username }}</span>
    </div>
    <div class="fake-button">Új poszt <mat-icon>add_2</mat-icon></div>
    <div id="myPosts">
      @for (item of myPosts; track $index) {
      <div class="my-post-container">
        <div class="my-post-header">
          <div class="my-post-title">{{ item.title }}</div>
        </div>
        <div class="my-post-body">
          <span class="my-post-text">{{ item.text }}</span>
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="fake-button" routerLink="/login">
      Belépés<mat-icon>login</mat-icon>
    </div>
    }
  </div>
</div>
