#content {
  width: calc(100% - 3rem);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% auto;
  gap: 1rem;
  justify-content: unset;
  align-items: unset;
  padding: 1rem;

  .container {
    border-radius: 0.5rem;
    background-color: #222;
    padding: 1rem;
    display: flex;
  }

  #main {
    grid-row: span 2;
    flex-direction: column;
    #specialProperties {
      display: flex;
      flex-direction: column;

      #bonus-text {
        display: block;
        width: 100%;
        font-size: 1.3rem;
        text-align: center;
        color: #f2c480;
      }

      .other-property {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
      }
    }
    #buttons {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1rem;
      margin: auto;
      .fake-button {
        font-size: larger;
        width: fit-content;
      }

      #error {
        grid-column: span 2;
        color: red;
        text-align: center;
        font-size: larger;
      }
    }
  }

  #stats {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 100%;
    align-items: center;

    .groupName {
      position: relative;
      grid-column: span 3;
    }

    mat-form-field {
      width: 6rem;

      input {
        text-align: center;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }

  .stat-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }

  #equipment {
    grid-row: span 2;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .rect,
    #shield {
      background-color: #666;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.4rem solid #555;
    }

    .rect {
      width: 15rem;
      height: 10rem;
      border-radius: 0.5rem;
    }

    #shield {
      height: 20rem;
      width: 15rem;
      border-radius: 0 0 50% 50%;

      #armour-field {
        position: relative;
        bottom: 4rem;
      }
    }
  }

  #virtues {
    flex-direction: column;
  }

  #items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-row: span 2;

    .container {
      flex-direction: column;
    }
  }
  --mat-sys-on-surface-variant: #f5f5f5;

  #dice-rolling-menu {
    display: none;
    position: absolute;
    gap: 1rem;
    padding: 0.5rem;
    background-color: #222;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
  }
}

.padded-option {
  padding: 0.5rem;
}

div.mat-mdc-select-panel {
  background-color: #333 !important;
  color: #f5f5f5 !important;
}

#mat-select-2-panel {
  background-color: red;
}

.groupName {
  font-size: 1.7rem;
  color: #f2c480;
  text-align: center;
  margin-bottom: 1rem;
}

#diceMenu {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.mdc-list-item__primary-text {
  display: flex !important;
}

.option-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  mat-icon {
    margin-right: 0;
  }
}

.fake-button {
  /* background-color: #444; */
}
