#content {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  align-items: unset;
  padding: 1rem;
  overflow-y: auto;

  .container {
    border-radius: 0.5rem;
    background-color: #222;
    padding: 1rem;
    display: flex;
  }

  #main {
    flex-direction: column;
    #specialProperties {
      display: flex;
      flex-direction: column;

      #bonus-text {
        display: block;
        width: 100%;
        font-size: 1.3rem;
        text-align: center;
        color: #f2c480;
      }

      .other-property {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
      }
    }
    #buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;
      margin: auto;
      .fake-button {
        font-size: larger;
      }

      #error {
        grid-column: span 2;
        color: red;
        text-align: center;
        font-size: larger;
      }
    }
  }

  #stat-virtue-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    > div {
      height: 100%;
    }
    #stats {
      position: relative;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: auto auto auto;
      align-items: center;

      .groupName {
        position: relative;
        grid-column: span 3;
      }

      mat-form-field {
        width: 6rem;

        input {
          text-align: center;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          -moz-appearance: textfield;
        }
      }
    }
    #virtues {
      flex-direction: column;
    }
  }

  .stat-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #equipment {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .rect,
    #shield {
      background-color: #666;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.4rem solid #555;
      width: 70%;
      padding: 1rem;
    }

    .rect {
      height: 20%;
      border-radius: 0.5rem;
    }

    #shield {
      height: 40%;
      border-radius: 0 0 50% 50%;

      #armour-field {
        position: relative;
        bottom: 4rem;
      }
    }
  }

  #items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container {
      flex-direction: column;
    }
  }
  --mat-sys-on-surface-variant: #f5f5f5;

  #dice-rolling-menu {
    display: none;
    position: absolute;
    gap: 1rem;
    padding: 0.5rem;
    background-color: #222;
    left: 50%;
    top: 4rem;
    width: fit-content;
    transform: translateX(-50%);
  }
}
mat-option {
  text-indent: 1rem;
}
.padded-option {
  padding: 0.5rem;
}

div.mat-mdc-select-panel {
  background-color: #333 !important;
  color: #f5f5f5 !important;
}

#mat-select-2-panel {
  background-color: red;
}

.groupName {
  font-size: 1.7rem;
  color: #f2c480;
  text-align: center;
  margin-bottom: 1rem;
}

#diceMenu {
  position: relative;
  grid-column: span 3;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}

.mdc-list-item__primary-text {
  display: flex !important;
}

.option-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  mat-icon {
    margin-right: 0;
  }
}

@media (max-width: 1350px) {
  #content {
    #stat-virtue-container {
      #stats {
        grid-template-columns: auto auto;
        > div:nth-child(4) {
          grid-column: span 2;
          flex-direction: row;
          gap: 0.7rem;
        }

        #diceMenu,
        .groupName {
          grid-column: span 2;
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .groupName {
    font-size: large;
  }

  mat-label {
    font-size: smaller;
  }
}

@media (max-width: 1080px) {
  #content {
    grid-template-columns: 49% 49%;
    row-gap: 1rem;
  }
}

@media (max-width: 530px) {
  #content {
    grid-template-columns: 100%;

    #equipment {
      gap: 1rem;
      .rect,
      #shield {
        height: fit-content;
      }

      #shield {
        height: 10rem;
        #armour-field {
          position: static;
        }
      }
    }
  }
}
