.post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #333;
  border-radius: 0.5rem;

  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-title {
      color: #f2c480;
      font-size: x-large;
    }

    .post-poster {
      display: flex;
      align-items: center;
      font-size: larger;
      color: #f2c480;
    }
  }

  .post-body {
    width: 100%;

    .post-text {
      display: block;
      width: 100%;
    }
  }

  .post-attachments {
    display: flex;
    align-items: center;
    gap: 1rem;
    .fake-button {
      padding: 0.5rem;
    }

    .post-date {
      margin-left: auto;
    }
  }
}
