.post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #333;
  border-radius: 0.5rem;

  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-title {
      color: #f2c480;
      font-size: x-large;
    }

    .post-poster {
      display: flex;
      align-items: center;
      font-size: larger;
      color: #f2c480;
    }
  }

  .post-body {
    width: 100%;

    .post-text {
      display: block;
      width: 100%;
    }
  }

  .post-attachments {
    display: flex;
    align-items: center;
    gap: 1rem;
    .fake-button {
      padding: 0.5rem;
    }

    .post-date {
      margin-left: auto;
      text-align: right;
    }
  }
}

#attachment-ui {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .attachment-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 70%;
    width: 35%;
    min-width: fit-content;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #111;

    .attachments {
      flex: 1;
      overflow-y: auto;
      display: grid;
      gap: 0.5rem;
    }

    .fake-button {
      position: absolute;
      top: -1rem;
      right: -1rem;
      padding: 0.5rem;
    }
  }
  &.show {
    display: block;
  }
}

@media (max-width: 768px) {
  #attachment-ui {
    .attachment-container {
      height: 70%;
    }
  }
}

@media (max-width: 400px) {
  .post-container {
    font-size: smaller;

    .post-attachments {
      gap: 0.4rem;
    }
  }
}
