.post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #333;
  border-radius: 0.5rem;

  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-title {
      color: #f2c480;
      font-size: x-large;
    }

    .post-poster {
      display: flex;
      align-items: center;
      font-size: larger;
      color: #f2c480;
    }
  }

  .post-body {
    width: 100%;

    .post-text {
      display: block;
      width: 100%;
      white-space: pre-line;
    }
  }

  .post-attachments {
    display: flex;
    align-items: center;
    gap: 1rem;
    .fake-button {
      padding: 0.5rem;
    }

    .post-date {
      margin-left: auto;
      text-align: right;
    }
  }

  &.commentsVisible {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

#attachment-ui {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .attachment-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 70%;
    width: 35%;
    min-width: fit-content;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #111;

    .attachments {
      flex: 1;
      overflow-y: auto;
      display: grid;
      gap: 0.5rem;
    }

    .fake-button {
      position: absolute;
      top: -1rem;
      right: -1rem;
      padding: 0.5rem;
    }
  }
  &.show {
    display: block;
  }
}

#comments {
  padding: 1rem;
  background-color: #282828;
  display: none;
  flex-direction: column;
  gap: 1rem;

  #new-comment-btn {
    padding: 0.5rem;
  }

  .hide {
    display: none;
  }

  &.show {
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  form {
    display: none;
    grid-template-areas:
      "error error error error error"
      "close text text text send";
    gap: 0.5rem;

    .fake-button {
      max-height: 3.5rem;

      &:last-child {
        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    &.show {
      display: grid;
    }
  }

  #comments-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .comment {
      background-color: #333;
      padding: 1rem;
      border-radius: 0.5rem;
      .comment-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .comment-sender {
          color: #f2c480;
        }
        .comment-options.fake-button {
          position: relative;
          padding: 0.5rem;

          .comment-options-container{
            position: absolute;
            top: 3rem;
            right: 0;
          }
        }
      }
      .comment-body {
        .comment-text {
          white-space: pre-line;
          line-break: anywhere;
        }
      }
      .comment-footer {
        display: flex;
        .comment-date {
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #comments {
    form {
      &.show {
        display: grid;
        gap: 0.5rem;
      }
      grid-template-areas:
        "text text"
        "close send";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  #attachment-ui {
    .attachment-container {
      height: 70%;
    }
  }
}

@media (max-width: 400px) {
  .post-container {
    font-size: smaller;

    .post-attachments {
      gap: 0.4rem;
    }
  }
}
