<div id="content">
  <div id="profile-panel">
    <div id="img-container">
      <img src="/assets/img/misc/blank.png" alt="Pfp" />
    </div>
    <div id="profile-data">
      <span id="username">{{ username }}</span>
      <span id="email"><span>Email:</span> {{ email }}</span>
    </div>
  </div>
  <div id="main-container">
    <div id="containers">
      <div
        id="character-container"
        class="container"
        [ngClass]="{ show: showCharacter }"
      >
        @if(characters.length > 0){ @for (character of characters; track $index)
        {
        <app-karakter-template
          [character]="character"
          (deletedCharacter)="loadCharAdvData()"
        ></app-karakter-template>
        }}@else {
        <span class="warning">Nincsenek megjeleníthető karakterek</span> }
      </div>
      <div
        id="adventure-container"
        class="container"
        [ngClass]="{ show: !showCharacter }"
      >
        @if(adventures.length > 0){ @for (adventure of adventures; track $index)
        {
        <app-kaland-template
          [adventure]="adventure"
          (deletedAdventure)="loadCharAdvData()"
        ></app-kaland-template>
        }}@else {<span class="warning">Nincsenek megjeleníthető kalandok</span>}
      </div>
    </div>
    <div id="button-container">
      <div class="fake-button" (click)="showContainer('character')" [ngClass]="{selected: showCharacter}">
        Karakterek
      </div>
      <div class="fake-button" (click)="showContainer()" [ngClass]="{selected: !showCharacter}">Kalandok</div>
    </div>
  </div>
</div>
