.game {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #333;
  display: grid;
  grid-template-areas: 
  "title title title start"
  "icon players players delete";
  grid-template-columns: 1fr 1fr 1fr 5fr;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  font-size: large;

  .game-name {
    justify-self: start;
    color: #f2c480;
  }

  .game-players {
    display: flex;
    align-items: center;

    .current-players {
      color: whitesmoke;
    }
  }

  .fake-button {
    padding: 0.3rem;
    justify-self: end;
  }
}
