.event {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #222;
  max-width: 20rem;
  max-height: 100%;

  .event-name {
    font-size: larger;
    margin: 0;
    color: #f2c480;
  }
  .event-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      margin: 0;
      overflow-y: auto;
    }

    ul {
      margin: 0.5rem 0;
    }
  }

  .p-title {
    color: #f2c480;
  }
}

.npcs {
  display: none;
  position: absolute;
  width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  background-color: #333;
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow-y: auto;

  &.show {
    display: block;
  }

  .npc {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}

.close-npcs {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;

  &.show {
    display: flex;
  }
}
