<h2>Esemény</h2>
<p>
  Az események a fő építőkövei egy kalandnak. Ezek az események sorozata fogja
  létrehozni a kalandot. Minden eseményt követően lehetősge van a játékosoknak
  pihenőt tenniük, hogy regenerálódhassanak, ez természetesen
  <strong>nem</strong> kötelező.
</p>
<p>
  Fontos meghatározni egy kaland
  <strong title="Barátságos, semleges vagy ellenséges">béke értékét</strong>,
  illetve el is nevezni, hogy azt később be tudd határolni. Ezután kiválasztható
  a helyszín, ahol az esemény játszódik, ez a térképen tudom megtenni.
</p>
<p>
  A következő lépés a leírás elkészítése. Ebben a részben leírod mi történik az
  eseményben, milyen interakciókra számíthatnak a játékosok. Ebbe a részbe
  leírhatod az esemény háttértörténetét, ha van, vagy azt, hogy milymódon
  jutottak ide a karakterek.
</p>
<span class="sub-title">Példa:</span>
<p id="example-event" class="italic-text">
  <strong>Esemény Leírás</strong>
  A karakterek egy hideg, ködös estén érkeznek Szürkekövi Temetőjébe. A falusiak
  szerint itt, a temető közepén álló ősi kútnál rejtőzik valami borzalom. A
  helyiek már hetek óta kerülik ezt a helyet - aki közel ment a kúthoz, az vagy
  eltűnt, vagy őrültként tért vissza. <strong>Háttértörténet:</strong> Száz
  évvel ezelőtt Varangy Mór, a hírhedt boszorkánymestert élve eltemetették a kút
  közelében, mivel a falubeliek azt hitték, így megakadályozhatják, hogy
  szelleme visszatérjen. Ám a temetés helye pontosan a falvédő runák gyengébb
  pontja alá került, és Mór szelleme mostanra elkezdett kiszivárogni, átvéve az
  uralmat a kút felett.
</p>
