$menu-height: 70%;

#content {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  #host-area {
    height: $menu-height;
    display: flex;
    gap: 1rem;
  }
  .menus {
    display: grid;
    grid-template-rows: 1fr 15fr;
    min-width: 20rem;
    background-color: #333;
    border-radius: 0.5rem;

    > .menu-name,
    hr {
      align-self: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      flex: 1;

      button {
        margin-top: auto;
      }
    }
  }
  .menu-name {
    width: 100%;
    text-align: center;
    font-size: x-large;
    color: #f2c480;
    padding: 1rem;
  }
  #continue-game {
    flex-direction: column;
    background-color: #333;
    border-radius: 0.5rem;
    width: 25rem;
  }
  .games-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: #292929;
    border-radius: 0 0 0.5rem 0.5rem;

    > :nth-child(odd),
    :nth-child(even) {
      width: 100%;
    }
  }
  #join-game {
    height: $menu-height;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: transparent;
    gap: 1rem;

    .open-games,
    #join-form-container {
      height: 100%;
      background-color: #333;
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
    }
  }
}
