#content {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: 1fr 1.75fr;
  gap: 1rem;
  padding: 1rem;

  > div:not(#dice-roll-container) {
    width: 100%;
    height: 100%;
    background-color: #222;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}

#players,
#npcs {
  display: flex;
  grid-row: span 2;
  flex-direction: column;
  gap: 1rem;
}

#map {
  grid-column: span 2;
}

.headerText {
  color: #f2c480;
  font-size: x-large;
}

.player,
.npc {
  display: flex;
  flex-direction: column;
  background-color: #444;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  font-size: larger;

  .player-header,
  .player-action,
  .npc-header,
  .npc-action {
    display: flex;
    justify-content: space-between;
  }
}

#backpack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .item-container {
    .headerText {
      font-size: large;
    }
    > div {
      text-indent: 2rem;
    }
  }
}

#actions {
  #action-container {
    display: flex;
    gap: 0.5rem;
    .fake-button {
      position: relative;
      .tooltip {
        position: absolute;
        display: none;
        top: 4rem;
        width: 15rem;
        padding: 0.5rem;
        background-color: #444;
        color: whitesmoke;
        z-index: 10;
        justify-content: center;
      }

      &:hover .tooltip {
        display: flex;
        text-align: center;
      }
    }
  }
}

#dice-roll-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
