<div id="content">
  @if(!isLoading){
  <div id="host-area">
    <div id="create-game" class="menus">
      <span class="menu-name">Játék létrehozása</span>
      <form [formGroup]="newGameForm" (ngSubmit)="createGame()">
        <mat-form-field appearance="outline">
          <mat-label>Játék neve
            {{ newGameForm.get("name")?.value.length }}/20</mat-label>
          <input matInput type="text" formControlName="name" maxlength="20" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Kaland</mat-label>
          <mat-select formControlName="adventure">
            @for (item of myAdventures; track item.id) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Max játékos (db)</mat-label>
          <input matInput type="number" formControlName="maxPlayers" min="1" max="6" />
        </mat-form-field>
        <mat-checkbox formControlName="isPublic">Publikus</mat-checkbox>
        <mat-error class="error-message">@if(newGameForm.get('name')?.hasError('whitespace') &&
          newGameForm.get('name')?.value.length > 0){ Nem lehet üres a név!
          }@else{ {{ createError }} }</mat-error>
        <button mat-flat-button type="submit">Létrehozás</button>
      </form>
    </div>
    <div id="continue-game" class="menus">
      <span class="menu-name">Játékaim</span>
      <div id="myGames" class="games-container">
        @if(myGames.length > 0){ @for (item of myGames; track item.id) {
        <app-game-template [game]="item" type="myGame" (deleteGameEvent)="deleteGame($event)"
          (gameEvent)="controlGameEvent($event)"></app-game-template>
        } }@else {Nincsenek játékok}
      </div>
    </div>
  </div>
  <div id="join-game" class="menus">
    <div id="join-form-container">
      <span class="menu-name">Csatlakozás játékhoz</span>
      <form [formGroup]="joinGameForm" (ngSubmit)="joinGame()">
        <mat-form-field appearance="outline">
          <mat-label>Csatlakozási kód</mat-label>
          <input matInput type="text" formControlName="joinID" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Karakter</mat-label>
          <mat-select formControlName="character">
            @for (item of myCharacters; track item.id) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-error>@if(joinGameForm.get('joinID')?.hasError('whitespace') &&
          joinGameForm.get('joinID')?.value.length > 0){ Nem lehet üres a kód!
          }@else{{{ joinError}}}</mat-error>
        <button mat-flat-button type="submit">Csatlakozás</button>
      </form>
    </div>
    <div class="open-games">
      <span class="menu-name">Elérhető játékok</span>
      <div id="public-games" class="games-container">
        @if(openGames.length > 0){ @for (item of openGames; track item.id) {
        <app-game-template [game]="item" type="general" (gameEvent)="controlGameEvent($event)"></app-game-template>
        } }@else { Nincsenek játékok }
      </div>
    </div>
  </div>
  } @if(isLoading){
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  }
</div>
<router-outlet></router-outlet>