<h2>Tulajdonságok</h2>
<p>
  Minden karakternek 6 fő tulajdonsága van, melyek leírják a fizikai és mentális
  határaikat a kalandjaik kezdetén.
</p>
<ul>
  <li>
    <strong>Erő:</strong> a fizikai erőkifejtés: cipelés, harc, fizikai munka
  </li>
  <li>
    <strong>Ügyesség:</strong> a mozgékonyság és kézügyesség: zárfeltörés,
    kikerülés, akrobatika
  </li>
  <li>
    <strong>Kitartás:</strong> a test teherbírása az összeomlásig: ellenállás,
    túlélés, egészség
  </li>
  <li>
    <strong>Ész:</strong> a lexikális tudás és annak használata: tanulás,
    felismerés, tárgykészítés
  </li>
  <li>
    <strong>Fortély:</strong> a meggyőző erő és kisugárzás: átverés,
    emberismeret, buzdítás
  </li>
  <li>
    <strong>Akaraterő:</strong> a jellem megtörhetetlensége: átkok, átverés és
    más mentális ellenállások
  </li>
</ul>
<p class="sub-title">Meghatározás:</p>
<ol>
  <li>
    Dobj <strong>2d10</strong>-el összesen <strong>8</strong> alkalommal (azaz
    minden dobásnál két tízoldalú kockával).
  </li>
  <li>
    <strong>Írd fel</strong> mind a 8 dobás eredményét - ezek lesznek a nyers
    értékek.
  </li>
  <li>
    Válaszd ki a <strong>6 legmagasabb</strong> értéket - ezekből lesznek a
    végleges tulajdonságpontok.
  </li>
  <li>
    A táblázat alapján írd be a hozzájuk tartozó <strong>módosítókat</strong>.
  </li>
</ol>
<div class="table-container">
  <table>
    <tr>
      <td class="header">Dobás</td>
      <td>1-4</td>
      <td>5-6</td>
      <td>7-8</td>
      <td>9-12</td>
      <td>13-14</td>
      <td>15-16</td>
      <td>17-</td>
    </tr>
    <tr>
      <td class="header">Érték</td>
      <td>-3</td>
      <td>-2</td>
      <td>-1</td>
      <td>0</td>
      <td>+1</td>
      <td>+2</td>
      <td>+3</td>
    </tr>
  </table>
</div>
<p>
  Ezután ossz el még <strong>két</strong> pontot a tulajdonságaid között úgy,
  hogy <strong>egyet-egyet</strong> hozzáadsz
  <strong>két</strong> tulajdonságodhoz, vagy <strong>egyhez kettőt</strong>.
</p>
<ul>
  <li><strong>Életerő</strong> meghatározása: 7 + Kitartás mód.</li>
  <li><strong>Akaraterő</strong> meghatározása: 7 + Akaraterő mód.</li>
</ul>
