$text-primary: whitesmoke;
$text-secondary: #f2c480;
ul,
ol {
  display: grid;
  row-gap: 0.2rem;
}

.scrollable-container {
  height: auto !important;
  overflow-y: unset !important;
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    text-align: center;
    td {
      border: #111 solid 0.15rem;
      padding: 0.5rem;
      color: $text-primary;
    }
    tr:first-child,
    td:first-child {
      color: $text-secondary;
      background-color: #222;
      td {
        color: $text-secondary;
      }
    }
  }
}

@media (max-width: 900px) {
  table {
    td,
    th {
      padding: 0.3rem !important;
    }
  }
}
