<span class="sub-title">Szüretelési Lista</span>
<p>
  A játékmester által felsorolt alapanyagok közül kiválasztják a játékosok, hogy
  miket szeretnének beszüretelni és milyen sorrendben. A szüretelés sorrendje
  azért létfontosságú, mert ha a dobás értéke kevesebb lesz mint az össz CÉ,
  akkor a lista szerint szerzik meg az alapanyagokat a játékosok.
</p>
<span class="sub-title">Szüretelési Érték Megállapítása</span>
<p>
  A szüretelni kívánt testrészekhez és anyagokhoz mind tartozik egy Cél Érték,
  ami összeadódik egy végső értékké.
</p>
<span class="sub-title">Szüretelés</span>
<p>
  A szüretelésnek két része van, az előkészítés és a boncolás. Az előkészítésnél
  egy karakter felméri az alapanyagok kinyerésének módját és előkészíti hozzá a
  terepet. Ez általában Ész próbát igényel, amihez hozzá lehet adni a lénnyel,
  eszközökkel és szüreteléssel kapcsolatos ismereteket. Ész próba helyett lehet
  használni fortélyt mágikus lények vagy akaraterőt elme manipuláló lények
  ellen. Egy másik karakter eközben elkezdi a boncolást, amikor is egy késsel
  vagy más bonc eszközökkel kinyeri az alapanyagokat, ez általában ügyesség
  próbát igényel, hatalmas méretű szörnyeknél viszont erő próbaként is lehet
  kezelni. Ha mindkét tevékenységet ugyanaz a karakter szeretné elvégezni, akkor
  annak a játékosnak hátránnyal kell dobnia mindkét próbára. A dobások
  eredményét összeadják a játékosok és összehasonlítják a Szüretelési Értékkel.
  Ezután a lista szerint megnézik mely alapanyagoknak ütötték meg a CÉ-ét,
  amelyeket egyúttal sikeresen megszereznek.
</p>
<span class="sub-title">Segédeszközök és segédkezők</span>
<p>
  A szüretelés sikerességét elő lehet segíteni különböző eszközökkel és
  tudással. Ezek az eszközök nem feltétlen szükségesek a szüreteléshez, viszont
  előnyt biztosítanak az elfoglalt helyért cserébe. A szüretelésben több
  karakter is részt vehet, ilyenkor azok a karakterek hozzáadják az ész vagy
  ügyesség módosítójukat, attól függően, hogy miben segédkeznek, emellett a
  releváns ismereteiket.
</p>
