<div id="content">
  @for (item of currentSpeciesGroup; track $index) {
  <div class="species-container">
    <div class="img-container">
      <img src="/assets/img/nations/{{ item.img }}" alt="{{ item.name }}" title="{{ item.name }}" />
    </div>
    <div class="species-desc-container">
      <span class="species-name">{{ item.name }}</span>
      <hr />
      <div class="species-desc">{{ item.desc }}</div>
      <button class="species-other fake-button" (click)="showProperties(item.id)">
        Egyéb tulajdonságok
      </button>
    </div>
  </div>
  }
</div>

@if(propertiesVisible && currentSpecies) {
<div id="ui-container" (click)="hideProperties()">
  <div class="species-properties-container">
    <div class="properties">
      <h3>Népi tulajdonságok</h3>
      <div class="property-inner-container">
        @for (element of currentSpecies.speciesSpecial; track $index) {
        <p>{{ $index + 1 }} - {{ element.desc }}</p>
        }
      </div>
    </div>
    <div class="homes">
      <h3>Otthon</h3>
      <div class="property-inner-container">
        @for (element of currentSpecies.homes; track $index) {
        <p>{{ $index + 1 }} - {{ element.desc }}</p>
        <ul>
          @for (bonus of element.bonus; track $index) {
          <li>{{ bonus.name }}: {{ bonus.mod }}</li>
          }
        </ul>
        }
      </div>
    </div>
  </div>
</div>
}