#content {
  overflow-y: auto;
  padding: 1rem;
  color: #333;
  gap: 1rem;

  .species-container {
    display: flex;
    justify-content: space-around;

    .img-container {
      height: 100%;
      width: 20%;

      img {
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0.4rem 0.4rem 0.4rem #333;
      }
    }

    .species-desc-container {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      height: 100%;
      width: 70%;

      .species-name {
        font-size: xx-large;
      }

      hr {
        height: 2px;
        width: 100%;
        background-color: #333;
        border: none;
      }

      .species-desc {
        line-height: 1.8;
        font-size: larger;
        text-align: justify;
      }

      .fake-button {
        margin-left: auto;
        margin-top: auto;
        gap: 0.5rem;
      }
    }
  }
}
#ui-container {
  display: none;
  position: absolute;
  align-items: end;
  justify-content: end;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.species-properties-container {
  display: none;
  background-color: #3a3a3a;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
  height: calc(100% - 4rem);
  //border-radius: 1rem;

  & > div {
    width: 50%;
  }
  h3 {
    color: #f2c480;
  }
  p,
  li {
    color: whitesmoke;
  }

  .property-inner-container {
    height: 90%;
    overflow-y: auto;
    overscroll-behavior-y: none;
  }
}

@media (max-width: 768px) {
  #content {
    .species-container {
      flex-direction: column;
      align-items: center;

      .img-container {
        width: 50%;
      }

      .species-desc-container {
        width: 90%;
        .fake-button {
          margin: auto;
        }
      }
    }
  }

  #ui-container {
    .species-properties-container {
      width: 100%;
      height: 65%;
      flex-direction: column;
      overflow-y: auto;

      .properties,
      .homes {
        width: 100%;

        .property-inner-container {
          overflow-y: unset;
        }
      }
    }
  }
}
