mat-nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#mobile-title {
  padding: 1rem;
  color: #f2c480;
  font-size: 2rem;
  display: block;
  text-align: center;
}

a {
  padding: 0.5rem;
  padding-left: 1.5rem;
  height: fit-content !important;

  .mobile-nav-link-text {
    color: whitesmoke;
    font-size: 1.2rem;
  }

  .mobile-nav-link-name {
    font-size: 1.5rem;
    color: #f2c480;
  }
}

.mobile-nav-menu {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.open {
  display: flex;
}

#login-container {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.5rem;
  a {
    width: fit-content;
    padding: 0.5rem 0;

    .mobile-nav-link-name {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
    }
  }
}
