<div id="navbar">
  <div id="enciklopedia" class="navbar-link">
    Enciklopédia
    <div id="enc-container" class="navbar-hover-container">
      <div id="world" class="navbar-link" [routerLink]="['/vilag']">Világ</div>
      <div id="system" class="navbar-link" [routerLink]="['/rendszer']">
        Rendszer
      </div>
    </div>
  </div>
  <div id="game-main" class="navbar-link">
    Próbáld ki
    <div id="game-container" class="navbar-hover-container">
      <div id="game" class="navbar-link" [routerLink]="['/jatek']">Játék</div>
      <div
        id="character-creation"
        class="navbar-link"
        [routerLink]="['/karakter-keszito']"
      >
        Karakter
      </div>
      <div
        id="adventure-creation"
        class="navbar-link"
        [routerLink]="['/kaland-keszito']"
      >
        Kaland
      </div>
    </div>
  </div>
  <div
    id="forum"
    class="navbar-link"
    [routerLink]="['/forum']"
    style="cursor: pointer"
  >
    Fórum
  </div>
  <div id="loggers">
    <div id="contact" class="navbar-link">
      <mat-icon>mail</mat-icon>
      <div id="contact-container" class="navbar-hover-container">
        ebredovilagok&#64;gmail.com
      </div>
    </div>
    @if(isLoggedIn){
    <div id="profile" class="navbar-link" [routerLink]="['/profil']">
      <mat-icon>person</mat-icon>
    </div>
    <div id="sign-out" class="navbar-link" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </div>
    } @if(!isLoggedIn){
    <div
      id="register-container"
      class="navbar-link"
      [routerLink]="['/register']"
    >
      <mat-icon>person_add</mat-icon>
    </div>
    <div id="login-container" class="navbar-link" [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </div>
    }
  </div>
</div>
