<div id="navbar">
  <div id="enciklopedia" class="navbar-link">Enciklopédia
    <div id="enc-container" class="navbar-hover-container">
        <div id="world" class="navbar-link">Világ</div>
        <div id="system" class="navbar-link">Rendszer</div>
    </div>
  </div>
  <div id="game-main" class="navbar-link">Próbáld ki
    <div id="game-container" class="navbar-hover-container">
        <div id="game" class="navbar-link">Játék</div>
        <div id="character-creation" class="navbar-link">Karakter</div>
        <div id="adventure-creation" class="navbar-link">Kaland</div>
    </div>
  </div>
  <div id="forum" class="navbar-link">Fórum</div>
</div>
