.spec-drink-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.5rem;
  span:last-child {
    grid-column: span 2;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
