$toolbar-height: 4rem;
$text-primary: #f5f5f5;
$text-secondary: #f2c480;

mat-sidenav-container {
  height: 100%;
  background-color: #333;
}

mat-toolbar {
  height: $toolbar-height;
  background-color: #333;
  padding: 0rem !important;
}

mat-sidenav {
  border-radius: 0;
  background-color: #333;
  --mat-sidenav-container-width: 18rem;
}

#logo {
  height: $toolbar-height;
  width: $toolbar-height;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

#author {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $text-secondary;
  font-size: xx-large;
  z-index: 200;
}

.menu-toggle-button {
  display: none;
  margin-left: auto;
  text-align: center;
  mat-icon {
    margin-right: 0;
  }
}

@media (max-width: 1250px) {
  #author {
    display: none;
  }
}

@media (max-width: 768px) {
  #author {
    display: block;
  }
  .menu-toggle-button {
    display: flex;
    margin-right: 0.5rem;
  }
  app-navbar {
    display: none;
  }
}

@media (max-width: 375px) {
  #author {
    font-size: x-large;
  }
}
