#page {
  background-image: url(/assets/img/backgrounds/bg.jpg);
}

#content {
  flex-direction: row-reverse;
  justify-content: space-between;
  .title {
    position: static;
    margin-right: 2rem;
  }

  #panel {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 100%;
    padding: 2rem;
    background-color: #222;
    form.register-form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        a {
          color: whitesmoke;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #content {
    justify-content: space-evenly;
    flex-direction: column;

    #panel {
      width: fit-content;
      height: fit-content;
      border-radius: 0.5rem;
    }
  }
}
