#adventure-form {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1rem;
  gap: 1rem;

  > .container {
    flex: 1;
  }

  #events-container,
  #npcs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    .npc,
    .event {
      display: flex;
      padding: 0.5rem;
      background-color: #444;
      border-radius: 0.5rem;
      align-items: center;
      gap: 0.5rem;
    }

    .npc mat-icon {
      margin-left: auto;
    }
    .event {
      cursor: pointer;
    }

    .event.select {
      border: 0.1rem solid #f5f5f5;
    }
  }

  #location {
    flex: 3;
    gap: 1rem;

    #map-container {
      width: 100%;
      height: calc(100% - 2rem);
      z-index: 5;
    }
  }
}

#event-footer {
  width: 100%;
  margin-top: auto;
  #footer-btns {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    #create-btn {
      font-size: x-large;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  gap: 1rem;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-size: x-large;
  color: #f2c480;
}

.fake-button {
  padding: 0.5rem;
  align-self: center;
  gap: 0.5rem;
}

.ui-container {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 25%;
  height: 99%;
  background-color: #222;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  overflow-y: auto;
  border: 0.3rem solid #444;
  cursor: auto;
  z-index: 100;
}
.show {
  display: flex;
}
#add-event-ui {
  left: 0;
}
#add-npc-ui {
  left: 75%;
}

#event-form,
#npcForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#event-form {
  justify-content: space-between;
}

#npcForm {
  gap: 1rem;
  .header-text {
    display: flex;
    align-self: flex-start;
  }
  mat-radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #actions-container {
    display: flex;
    justify-content: space-around;
  }
  .checkbox-container {
    display: flex;
    flex-direction: column;
    .header-text {
      width: 100%;
      justify-content: center;
    }

    &.disabled {
      opacity: 0.7;
      pointer-events: none;
      user-select: none;
    }
  }
}

#user-manual {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: center;

  &.show {
    display: flex;
  }
}

@media (max-width: 950px) {
  #ui-container {
    .ui-container {
      width: 35%;
    }

    #add-npc-ui {
      left: 65%;
    }
  }
}

@media (max-width: 786px) {
  #adventure-form {
    display: flex;
    #location {
      display: none;
      position: absolute;
    }

    .container {
      width: 50%;
    }
  }
  #ui-container {
    .ui-container {
      width: 50%;
    }

    #add-npc-ui {
      left: 50%;
    }
  }
}

@media (max-width: 650px) {
  #adventure-form {
    flex-direction: column;

    .container {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 500px) {
  #ui-container {
    .ui-container {
      width: 100%;
    }

    #add-npc-ui {
      left: 0;
    }
  }
}
