<div id="content">
  <form id="adventure-form">
    <div id="events" class="container">
      <div class="header">
        <span class="header-text">Események</span>
        <div class="add-button fake-button" (click)="showUIs('events')">
          <mat-icon>add</mat-icon>
        </div>
      </div>
      <div id="events-container">
        @for (event of events; track $index) {
        <div
          class="event"
          (click)="selectEvent($index)"
          [ngClass]="{ select: selectedEventIndex === $index }"
        >
          <span>{{ event.name }}</span>
          <div class="fake-button" (click)="openEditEvent($index)">
            <mat-icon>edit</mat-icon>
          </div>
        </div>
        }
      </div>
    </div>
    <div id="location" class="container">
      <div class="header">
        <span class="header-text">Helyszín</span>
        <div class="add-button fake-button"><mat-icon>add</mat-icon></div>
      </div>
      <div id="map-container"></div>
    </div>
    <div id="npcs" class="container">
      <div class="header">
        <span class="header-text">NPC-k</span>
        <div class="add-button fake-button" (click)="showUIs('npcs')">
          <mat-icon>add</mat-icon>
        </div>
      </div>
      <div id="npcs-container">
        @for (npc of selectedAdventureEvent?.NPCs; track $index) {
        <div class="npc">
          <span class="npc-name">{{ npc.name }}</span>
          <mat-icon>
            @if (npc.attitude === "neutral") { handshake }@else { close }
          </mat-icon>
          <div class="fake-button">
            <mat-icon>edit</mat-icon>
          </div>
        </div>
        }
      </div>
    </div>
  </form>
  <div id="ui-container" [ngClass]="{ show: showUIContainer }">
    <div
      id="add-event-ui"
      class="ui-container"
      [ngClass]="{ show: showEvents }"
    >
      <div class="header">
        <div class="header-text">Új esemény</div>
        <div class="fake-button" (click)="hideUIs()">
          <mat-icon>close</mat-icon>
        </div>
      </div>
      <form id="event-form" (ngSubmit)="addEvent()" [formGroup]="eventForm">
        <mat-form-field appearance="outline">
          <mat-label>Név</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Helyszín</mat-label>
          <mat-select formControlName="location">
            @for (location of locations; track $index) {
            <mat-option [value]="location">{{ location }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Leírás</mat-label>
          <textarea
            matInput
            id="desc"
            formControlName="desc"
            cols="30"
            rows="5"
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Történet</mat-label>
          <textarea
            matInput
            id="story"
            formControlName="story"
            cols="30"
            rows="10"
          ></textarea>
        </mat-form-field>
        <button class="fake-button" type="submit">
          {{ eventAction }}<mat-icon>{{ eventActionIcon }}</mat-icon>
        </button>
      </form>
    </div>
    <div id="add-npc-ui" class="ui-container" [ngClass]="{ show: showNPCs }">
      <div class="header">
        <div class="header-text">Új NPC</div>
        <div class="fake-button" (click)="hideUIs()">
          <mat-icon>close</mat-icon>
        </div>
      </div>
      <form id="npcForm" (ngSubmit)="addNPC()" [formGroup]="npcForm">
        <mat-form-field appearance="outline">
          <mat-label>Név</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <span class="header-text">Hozzáállás</span>
        <mat-radio-group id="attitude" formControlName="attitude">
          <mat-radio-button
            (click)="setAttitude('neutral')"
            aria-labelledby="attitude"
            value="neutral"
            labelPosition="before"
            >Semleges</mat-radio-button
          >
          <mat-radio-button
            (click)="setAttitude('hostile')"
            aria-labelledby="attitude"
            value="hostile"
            labelPosition="before"
            >Ellenséges</mat-radio-button
          >
        </mat-radio-group>
        <div id="actions-container">
          <div
            id="neutral-actions"
            class="checkbox-container"
            [ngClass]="{ disabled: this.attitude !== 'neutral' }"
          >
            <span class="header-text">Semleges</span>
            <mat-checkbox
              class="example-margin"
              [formControl]="getActions().at(0)"
              [disabled]="attitude !== 'neutral'"
              >Beszéd</mat-checkbox
            >
            <mat-checkbox
              class="example-margin"
              [formControl]="getActions().at(1)"
              [disabled]="attitude !== 'neutral'"
              >Kereskedés</mat-checkbox
            >
          </div>
          <div
            id="hostile-actions"
            class="checkbox-container"
            [ngClass]="{ disabled: this.attitude !== 'hostile' }"
          >
            <span class="header-text">Ellenséges</span>
            <mat-checkbox
              class="example-margin"
              [formControl]="getActions().at(2)"
              [disabled]="attitude !== 'hostile'"
              >Támadás</mat-checkbox
            >
            <mat-checkbox
              class="example-margin"
              [formControl]="getActions().at(3)"
              [disabled]="attitude !== 'hostile'"
              >Lopás</mat-checkbox
            >
          </div>
        </div>
        @if(this.attitude === "hostile"){
        <mat-form-field appearance="outline">
          <mat-label>Karakter</mat-label>
          <mat-select formControlName="character">
            @for (character of (myCharacters$ | async); track $index) {
            <mat-option value="{{ character.id }}">{{
              character.name
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        } @if(npcError !== ''){

        <div id="npc-error" class="error-message">{{ npcError }}</div>
        }
        <button class="fake-button" type="submit">
          {{ eventAction }}<mat-icon>{{ eventActionIcon }}</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>
