<h2>Akciók harcon belül</h2>
<p>Minden karakternek 2 akciója van körönként.</p>
<article>
  <div class="columns">
    <strong>Támadás</strong>
    <div class="column-content">
      <span title="Alap esetben 1 méter távolságra">Közelharci támadás</span>
      <span
        ><strong>Célzás:</strong> Karakter méret CÉ + ügyesség módosító</span
      >
      <span
        ><strong>Sebzés:</strong> Fegyver kocka + erő módosító + egyéb
        módosítók</span
      >
    </div>
    <div class="column-content">
      <span>Távolsági támadás</span>
      <span
        ><strong>Célzás:</strong> Karakter méret CÉ + ügyesség módosító</span
      >
      <span
        ><strong>Sebzés:</strong> Fegyver kocka + erő módosító + egyéb
        módosítók</span
      >
      <span style="font-style: italic;">Fegyver nélküli támadások:</span>
      <ul>
        <li>Ütés</li>
        <li>Megtolás</li>
        <li>Megragadás</li>
        <li>Fejelés</li>
        <li>Rúgás</li>
      </ul>
    </div>
  </div>
  <div class="columns">
    <strong>Reakciók</strong>
    <span>A játékos elkölthet stresszt egy reakcióért cserébe</span>
    <ul>
      <li>Kitérés (CÉ 12 Ügyesség)</li>
      <li title="Sebzés elszenvedés után">Vissza támadás</li>
      <li>Varázslat elsütése</li>
      <li style="cursor: pointer; font-weight: bold;" title="Dobsz támadást, ha nagyobbat dobtál, mint a támadó, akkor ő szenved annyival több sebzést, amennyivel nagyobbat dobtál. Ha kisebbet dobtál, annyival több sebzést szenvedsz, amennyivel alacsonyabbat dobtál.">Elhárítás</li>
    </ul>
  </div>
</article>
<p>
  Harc során minden 5. kör után minden kalandornak dobnia kell egy kitartás
  próbát (CÉ 12), ha nem sikerül, akkor a karakter elszenved egy stressz
  sérülést.
</p>
<p>
  Ha egy ellenfél meghal, akkor minden ellenfél dob egy akaraterő próbát (CÉ
  16), majd mikor az ellenfelek fele meghal, ismét (CÉ 12)-vel lefelé kerekítve.
  Ha nem sikerül a próba, megpróbálnak elmenekülni.
</p>
