<div id="content">
    <span class="title">Ébredő Világok</span>
    <span class="subtitle">Enciklopédia</span>
    <div id="small-card-container">
      <app-card-container [cards]="cards" size="small"></app-card-container>
    </div>
    <div
      id="forum-button"
      class="fake-button"
      [routerLink]="['/wandering-forum']"
    >
      <span>Fórum</span>
      <mat-icon>forum</mat-icon>
    </div>
    <span id="bottom-text"
      >Egy felejthetetlen kaland, amiben Te is részt vehetsz!</span
    >
  </div>