$text-primary: whitesmoke;
$secondary-color: #f2c480;
$primary-background: #333;
#bottom-text {
  padding: 0.5rem;
  font-size: x-large;
}

app-card-container {
  height: 40%;
  gap: 4rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  #bottom-text {
    font-size: large;
  }
  app-card-container {
    height: 30%;
    width: 70%;
    gap: 1rem;
  }
}

@media (max-width: 490px) {
  #bottom-text {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 320px) {
  app-card-container {
    height: 25%;
  }
}
