$text-primary: whitesmoke;
$secondary-color: #f2c480;
$primary-background: #333;

#page {
  background-image: url(/assets/img/backgrounds/bg.jpg);
}

#title {
  font-size: 5rem;
}

#title,
#subtitle {
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
}

#subtitle {
  font-size: 4rem;
}

#bottom-text {
  font-size: x-large;
}

app-card-container {
  gap: 4rem;
}
