td:first-child {
  color: whitesmoke !important;
}

.italic-text {
  display: block !important;
}

.table-container {
  padding: 0.5rem;
}

@media (max-width: 450px) {
  .table-container {
    overflow-x: auto;
  }
}
