td:first-child {
  color: whitesmoke !important;
}

.italic-text {
  display: block !important;
}

.table-container {
  padding: 0.5rem;
  &#foods-table {
    overflow-x: auto;
  }
}

.item {
  margin: 1rem 0;

  .item-name {
    font-size: large;
  }
  .item-effect {
    text-align: right;
  }
}
