td:first-child {
  color: whitesmoke !important;
}

.italic-text {
  display: block !important;
}

.scrollable-container {
  padding: 0.5rem;
}

@media (max-width: 450px) {
  .scrollable-container {
    overflow-y: unset !important;
    .scrollable-container {
      overflow-x: auto;
    }
  }
}
