#content {
  color: #222;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  text-align: justify;

  h1 {
    text-align: left;
  }
  #origin,
  #lands {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  #content {
    flex-direction: column;
    overflow-y: auto;
    #origin,
    #lands {
      height: auto;
      width: 100%;
      overflow-y: unset;
      padding: 0;
    }
  }
}
