<span class="title">Kaland készítés</span>
<p>
  A kalandkészítés a szerepjáték másik alapvető alkotói folyamata, ahol
  megtervezheted és megalkothatod azokat a helyszíneket, történéseket és
  kihívásokat, amelyekben a karakterek kalandot élhetnek át. Ez a folyamat
  lehetőséget ad kreativitásod szabadabb kifejezésére.
</p>

<p>
  Egy kaland fő építő kövei az események, ahol találkozás, harc és egyéb
  cselekvések történnek. Az események tartalmazhatnak
  <strong title="Nem játékos karakter">NPC</strong>-ket és ellenfeleket, akikkel
  szóba lehet állni, vagy egyéb interakciót végezni.
</p>
<p>
  Minden esemény rendelkezik egy helyszínnel, melyeket térkép segítségével
  határozhatsz meg.
</p>
<img src="/assets/img/misc/figures.jpg" alt="Karakterlap" />
