#content {
  display: flex;
  overflow-y: auto;
  padding: 1rem;

  app-card-container {
    gap: 1rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  #content {
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    padding: 1rem 0;
  }
  app-card-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
