// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@import url(./app/themes/grey_theme-colors.scss);

@font-face {
  font-family: "Modern Antiqua";
  src: url(../public/assets/fonts/ModernAntiqua-Regular.ttf) format("truetype");
}

$text-primary: #f5f5f5;
$text-secondary: #f2c480;
$primary-background: #333;

/* html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
} You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Modern Antiqua", sans-serif;
  color: $text-primary;
}

app-navbar {
  height: 100%;
  width: 100%;
  z-index: 10;
}

#page {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  background-repeat: no-repeat !important;
  //background-attachment: fixed;
  background-size: cover !important;
  background-color: #222 !important;
  z-index: 0;

  #page-blur {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(0.1rem);
  }
}

#content {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.title,
.subtitle {
  position: relative;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
}

.title {
  top: 8rem;
  font-size: 5rem;
}

.subtitle {
  top: 10rem;
  font-size: 4rem;
}

button {
  color: $text-secondary !important;
  background-color: $primary-background !important;
  border-radius: 0.5rem !important;
}

button:hover {
  color: $primary-background !important;
  background-color: $text-secondary !important;
}

#title,
#subtitle,
#forum-button,
#bottom-text,
app-card-container {
  position: relative;
}

app-card-container {
  top: 15rem;
  display: flex;
  gap: 4rem;
}

.hoverable-card {
  transition: transform 0.3s ease;
}

.hoverable-card:hover {
  transform: scale(1.05);
}

.fake-button {
  padding: 1rem;
  color: $text-secondary;
  display: flex;
  gap: 1rem;
  background-color: $primary-background;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.fake-button:hover {
  background-color: $text-secondary;
  color: $primary-background;
}

mat-table {
  font-family: "Modern Aniqua, serif";
}
mat-header-row {
  background-color: #222 !important;
}
mat-row:nth-child(odd) {
  background-color: $primary-background;
}
mat-row:nth-child(even) {
  background-color: #444;
}
mat-header-cell {
  color: $text-secondary;
  font-size: larger;
}
mat-cell,
mat-header-cell {
  justify-content: left;
  font-family: "Modern Antiqua, serif";
}
mat-cell:nth-child(odd) {
  color: $text-secondary;
}
mat-cell:nth-child(even) {
  color: $text-primary;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f2c480;
  //background: #555;
}
