// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@import url(./app/themes/greytheme.css);

@font-face {
  font-family: "Modern Antiqua";
  src: url(../public/assets/fonts/ModernAntiqua-Regular.ttf) format("truetype");
}

$text-primary: #f5f5f5;
$text-secondary: #f2c480;
$primary-background: #333;

/* html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
} You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Modern Antiqua", sans-serif;
  color: $text-primary;
}

app-navbar,
app-mobile-navbar {
  height: 100%;
  width: 100%;
  z-index: 10;
}

#page {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  background-repeat: no-repeat !important;
  //background-attachment: fixed;
  background-size: cover !important;
  background-color: #222;
  z-index: 0;

  #page-blur {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(0.1rem);
  }
}

#content {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  justify-content: space-evenly;
}

.title,
.subtitle {
  position: relative;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
}

.title {
  font-size: 5rem;
}

.subtitle {
  font-size: 4rem;
}

button {
  font-size: large;
  font-family: "Modern Antiqua";
  border: none;
}

button:hover {
  color: $primary-background !important;
  background-color: $text-secondary !important;

  &.mdc-switch {
    background-color: transparent !important;
  }
}

.title,
.subtitle,
#forum-button,
#bottom-text {
  position: relative;
  text-align: center;
}

app-card-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hoverable-card {
  transition: transform 0.4s ease;
}

.hoverable-card:hover {
  transform: scale(1.04);
}

.fake-button {
  width: fit-content;
  padding: 1rem;
  color: $text-secondary;
  display: flex;
  gap: 1rem;
  background-color: #444;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.fake-button:hover {
  background-color: $text-secondary;
  color: $primary-background;
}

mat-table {
  font-family: "Modern Aniqua, serif";
}
mat-header-row {
  background-color: #222 !important;
}
mat-row:nth-child(odd) {
  background-color: $primary-background;
}
mat-row:nth-child(even) {
  background-color: #444;
}
mat-header-cell {
  color: $text-secondary;
  font-size: larger;
}
mat-cell,
mat-header-cell {
  justify-content: left;
  font-family: "Modern Antiqua, serif";
}
mat-cell:nth-child(odd) {
  color: $text-secondary;
}
mat-cell:nth-child(even) {
  color: $text-primary;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f2c480;
}

.mat-mdc-text-field-wrapper {
  background-color: #444 !important;
  border-radius: 0.5rem !important;
}

.error-message {
  color: red;
  font-size: large;
  text-align: center;
}

mat-card {
  min-width: 50%;
  padding: 1rem;
  border: 0.2rem solid #222;

  mat-card-header {
    justify-content: space-between;

    mat-card-title,
    mat-icon {
      color: #f2c480;
    }
  }

  mat-card-content {
    text-align: justify;
  }
}

.leaflet-popup {
  top: 25px !important;
}

.custom-popup .leaflet-popup-content-wrapper {
  font-family: "Modern Antiqua";
  background: #333 !important;
  border-radius: 0px;
  border: 0.2rem solid#111;

  .leaflet-popup-content {
    width: 18rem !important;
    margin: 1rem 0.5rem;

    > div {
      text-align: center;
      width: 100%;
    }
    .popup-title {
      font-size: large;
      color: #f2c480;
    }

    hr {
      border: none;
      height: 0.2rem;
      background-color: #222;
    }

    .popup-text {
      font-size: larger;
      color: #f5f5f5;
    }
  }
}

.leaflet-popup:before {
  content: "";
  position: absolute;
  border: 13px solid transparent;
  border-bottom-color: #222;
  bottom: 0px;
  margin-left: -13px;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-zoom {
  display: none;
}

.custom-popup .leaflet-popup-tip {
  display: none;
}

.custom-popup a.leaflet-popup-close-button {
  background-color: #222;
  color: #f2c480;
  font-size: larger;
  margin-top: 0.35rem;
  margin-right: 0.35rem;
  border-radius: 0.25rem;

  &:hover {
    color: #222;
    background-color: #f2c480;
  }
}

.hidden-marker {
  display: none;
}

/* styles.scss */
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@media (max-height: 685px) and (orientation: landscape) {
  #content {
    overflow-y: auto;
    .title {
      font-size: 2rem;
    }
    .subtitle {
      font-size: 2rem;
    }
    #bottom-text {
      font-size: medium;
    }

    .fake-button {
      padding: 0.5rem;
    }

    app-card-container {
      height: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      overflow-x: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}

@media (max-height: 670px) and (orientation: landscape) and (max-width: 900px) {
  #content {
    gap: 0.5rem;
    app-card-container {
      height: 70%;
      flex-direction: row;
      justify-content: space-around;
      scroll-snap-type: x mandatory;
    }
  }
}

@media (max-width: 1000px) {
  app-card-container {
    padding: 1rem;
    overflow-y: auto;
    flex: none;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: space-between;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  #bottom-text {
    font-size: large;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 2.5rem;
  }

  mat-card {
    mat-card-header {
      mat-card-title {
        font-size: x-large !important;
      }
      mat-card-subtitle {
        font-size: large !important;
      }
    }
  }
}
