* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#not-found-container {
  z-index: 100;
  background-color: #222;
  width: 100vw;
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
    max-width: 85%;
  --mdc-elevated-card-container-color: #444;
  border-radius: .5rem;
}

#not-found-content {
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  color: #f2c480;
  font-size: larger;
  cursor: pointer;
}

button:hover {
  background-color: #f2c480;
  color: #333;
}

@media (max-width: 400px) {
  h1 {
    font-size: larger;
  }
  p {
    font-size: medium;
  }
  button {
    font-size: medium;
  }
}
