#not-found-container {
  z-index: 100;
  background-color: #222;
  width: 100vw;
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  max-width: 85%;
  --mdc-elevated-card-container-color: #333;
  border-radius: 0.5rem;
}

#not-found-content {
  color: #f2c480;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  > mat-icon{
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
  }

  p{
    color: whitesmoke;
  }
}

button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  color: #f2c480;
  font-size: larger;
  cursor: pointer;
}

button:hover {
  background-color: #f2c480;
  color: #333;
}

@media (max-width: 400px) {
  h1 {
    font-size: larger;
  }
  p {
    font-size: medium;
  }
  button {
    font-size: medium;
  }
}
