$text-primary: whitesmoke;
$text-secondary: #f2c480;
$primary-background: #333;

.small-card {
  position: relative;
  display: grid;
  background-color: $primary-background;
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;

  .img-container {
    width: 17rem;
    overflow: hidden;
    object-fit: cover;

    img {
      width: 100%;
      border-radius: 0.3rem 0.3rem 0.3rem 50%;
    }
  }

  .card-title {
    position: relative;
    font-size: x-large;
    color: $text-secondary;
    text-indent: 0.2rem;
  }
}
