$text-primary: whitesmoke;
$text-secondary: #f2c480;
$primary-background: #444;

.card {
  position: relative;
  display: grid;
  background-color: $primary-background;
  padding: 0.3rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem #333;
  cursor: pointer;
  width: 17rem;
  scroll-snap-align: center;
  flex: 0 0 auto;

  .img-container {
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;

    img {
      max-width: 100%;
      border-radius: 1rem 1rem 1rem 100%/1rem 1rem 1rem 50%;
    }
  }

  .card-title {
    position: relative;
    font-size: x-large;
    color: $text-secondary;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .card {
    .card-title {
      font-size: larger;
    }
  }
}

@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}

@media (max-height: 685px) and (orientation: landscape) {
  .card {
    .card-title {
      font-size: medium;
    }
  }
}

@media (max-height: 670px) and (orientation: landscape) and (max-width: 890px) {
  .card{
    width: 13rem;
  }
}
